.rain {
  background-color: $background-color;
  background-image: url(https://source.unsplash.com/1600x900/?rain);
}

.snow {
  background-color: $background-color;
  background-image: url(https://source.unsplash.com/1600x900/?snow);
}

.night {
  background-color: $background-color;
  background-image: url(https://source.unsplash.com/1600x900/?night);
}

.fog {
  background-color: $background-color;
  background-image: url(https://source.unsplash.com/1600x900/?fog);
}

.clouds {
  background-color: $background-color;
  background-image: url(https://source.unsplash.com/1600x900/?landscape);
}
